.awesome {
  width: 100%;
  font-family: Open Sans; 
}

.awesome__header {
  margin: 0px 0px 67px 0px; 
}

.awesome__title {
  margin: 0px; 
}

.title {
  font-size: 36px;
  font-weight: 400;
  line-height: 42px;
  text-transform: uppercase;
  text-align: center;
  padding: 100px 0px 0px 0px;
  color: #212121;
  font-family: Raleway, sans-serif; 
}
  
    .title:after {
      content: '';
      width: 64px;
      bottom: 0;
      height: 2px;
      background-color: #D98943;
      margin: 25px auto 30px;
      display:block;
    }

.awesome__subtitle {
  max-width: 563px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  margin: 0px auto;
  font-style: normal;
  line-height: 19px;
  letter-spacing: 0;  
  color: #86878B; }

  .awesome__row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;}

  .awesome__column {
  max-width: 348px;
  margin-bottom: 109px;
  display: flex;
  align-items: center; }

.item-awesome__icon {
  margin: 0px auto 30px auto;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 1px solid #D98943;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.item-awesome__image{
  color:#D98943;
  font-size: 30px;
  margin: 0px auto;
}

.item-awesome__title {
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0px 16px 0px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  color: #333333; }

.item-awesome__text {
  text-align: center;
  font-size: 14px;   
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;}
   

