@import url('../css/awesome.css');
@import url('../css/pricing.css');
@import url('../css/customers.css');
@import url('../css/axure.css');
@import url('../css/header.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@100;200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none; }

  .container {
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px 15px; 
    position: relative;
  z-index: 1;}
